@{
    decimal totalLocal = (decimal)ViewBag.totalLocal;
    decimal foreignLocal = (decimal)ViewBag.foreignLocal;
}

<div class="row">
    <div class="col-12">
        <label>Total local</label>
        <b>@totalLocal</b><br />
        <label>Foreign local</label>
        <b>@foreignLocal</b><br />
    </div>
</div>